{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	<div class="site-masthead">
	<h1>{{ .Site.Title }}</h1>
	<h2>{{ .Site.Params.subtitle }}</h2>
	</div>
<main class="home" id="main" aria-label="Content">
	<h1 class="content-title divided">
      Recent Posts
  	</h1>
	<div class="content list h-feed">
    {{ if .Site.Params.daygroup }}
      {{ $posts := where .Site.Pages "Type" "post" }}
      {{ $grouped := $posts.GroupByDate "2006-01-02" }}
      {{ $paginated := (.Paginate ($grouped)) }}
      {{ range $paginated.PageGroups }}
        {{ $thedate :=(time .Key) }}
         <div class="day">
           <span class="dateheader">
             {{ $thedate.Format "January 2, 2006" }}
           </span>
           {{ range .Pages.Reverse }}
		    	   {{ partial "li.html" . }}
           {{ end }}
      {{ end }}
    {{ else }}
		  {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
		  {{ range $paginator.Pages }}
		  	{{ partial "li.html" . }}
		  {{ end }}
    {{ end }}
		<!--{{ partial "pagination.html" . }}-->
	</div>
	<div class="archive">
		<h3><a href="{{ "archive" | absURL }}">View All Posts</a></h3>
	</div>
	{{ partial "search.html" . }}
</main>
	{{ partial "footer.html" . }}
	{{ partial "custom_footer.html" . }}
	{{ range .Site.Params.plugins_js }}
		<script src="{{ . }}"></script>
	{{ end }}
</body>
</html>
